# .pre-commit-config.yaml
# pre-commit does not support "rev: stable" properly; run "pre-commit autoupdate" to fix it.
default_stages: [pre-commit, pre-merge-commit, pre-push, manual]
default_install_hook_types: [pre-commit, pre-merge-commit, pre-push, prepare-commit-msg, commit-msg, post-checkout, post-commit, post-merge, post-rewrite]
repos:
-   repo: https://github.com/Yelp/detect-secrets
    # can use `rev: stable` initially
    rev: v1.5.0
    hooks:
      - id: detect-secrets
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: detect-private-key
    -   id: fix-encoding-pragma
        language: python
        files: \.py$
    -   id: check-builtin-literals
        language: python
        files: \.py$
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: end-of-file-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff
      args: [ --fix ] # --config=pyproject.toml is implied by default
    - id: ruff-format
-   repo: local
    hooks:
      - id: ty
        name: Run ty type checker
        entry: uv run ty check
        language: system
        types: [python]
# post-commit hook; needs the script to be placed in the repo
-   repo: local
    hooks:
    -   id: copy-last-commit-sha
        name: copy-last-commit-sha
        stages: [post-commit]
        always_run: true
        language: script
        entry: copy-git-hash.sh
